In [2]:
import pandas as pd
import csv

cp949 + utf-8

# 데이터 확인(결측치)

## 전처리 (서울, 경기도만 따로 저장)

In [25]:
df = pd.read_csv("./data/서울_휴게음식점_final.csv", encoding="utf-8")
dff = pd.read_csv("./data/preprocessed/fastfood_convenience.csv", encoding="utf-8")

In [96]:
df = pd.read_csv("./data/seoul_market_new.csv")
df2 = pd.read_csv("./data/preprocessed/market.csv")

In [87]:
df2[(df2["type"] == "대형마트")].describe()
dff.describe()

               id        좌표정보(X)        좌표정보(Y)
count  729.000000     675.000000     675.000000
mean   479.807956  199499.002556  449596.543102
std    291.947621    7144.948310    5292.187388
min      0.000000  182524.823836  437280.574151
25%    225.000000  193448.578138  445281.461551
50%    475.000000  200999.356222  449477.448460
75%    732.000000  204773.933320  452575.837838
max    996.000000  214293.085341  464814.717432

In [90]:
dff[(dff["업태구분명"] == "전문점")]

,id,영업상태명,지번주소,도로명주소,사업장명,최종수정일자,업태구분명,좌표정보(X),좌표정보(Y)
34,38,영업/정상,서울특별시 용산구 한강로3가 1-1 나진상가,"서울특별시 용산구 청파로 109, 나진상가 14동 (한강로3가)",나진전자월드상가,2022-06-29 10:52:49,전문점,196697.031087,447931.108267
42,46,영업/정상,서울특별시 용산구 한강로3가 1번지 1호 나진상가,"서울특별시 용산구 청파로 109, 나진상가 (한강로3가)",나진산업 주식회사,2022-04-13 10:19:40,전문점,196697.031087,447931.108267
116,136,영업/정상,서울특별시 종로구 서린동 33번지 영풍빌딩,서울특별시 종로구 청계천로 41 (서린동),(주)영풍문고,2022-04-25 14:14:33,전문점,198351.818737,451921.603026
117,137,영업/정상,서울특별시 중구 신당1동 773번지,서울특별시 중구 마장로 3 (신당동),맥스타일,2023-01-02 08:56:55,전문점,200863.594131,451837.481624
144,171,영업/정상,서울특별시 중구 흥인동 3번지 4호,서울특별시 중구 다산로 274 (흥인동),우일타운,2016-04-20 17:57:02,전문점,201390.623456,451682.924382
183,226,영업/정상,서울특별시 용산구 한강로3가 16번지 9호,서울특별시 용산구 청파로 74 (한강로3가),(주)에스와이에스홀딩스,2014-10-24 10:25:20,전문점,196370.746399,447841.698788
185,228,영업/정상,서울특별시 용산구 원효로3가 51번지 30호,서울특별시 용산구 청파로 77 (원효로3가),원효전자상가,2013-03-21 09:39:21,전문점,196385.232033,447938.192461
187,230,영업/정상,서울특별시 용산구 한강로2가 413호,서울특별시 용산구 청파로 113-12 (한강로2가),전자타운,2014-10-24 10:37:15,전문점,196775.639878,447984.634546
189,232,영업/정상,서울특별시 용산구 한강로3가 2-8,"서울특별시 용산구 청파로 100, 12동 2층 (한강로3가)",(주)서부티엔디,2020-08-13 09:12:59,전문점,196605.511574,447841.270074
200,248,영업/정상,서울특별시 용산구 한강로2가 15번지 14호,"서울특별시 용산구 새창로 181 (한강로2가, 선인상가)",선인상가,2022-10-07 14:43:20,전문점,196839.641743,447863.232025
203,251,영업/정상,서울특별시 성동구 용답동 234번지 한국자동차매매센터,"서울특별시 성동구 자동차시장1길 70 (용답동, 장안평중고자동차시장)",자동차매매센타,2019-04-30 17:44:20,전문점,205784.868812,450883.524006
243,301,영업/정상,서울특별시 동대문구 제기동 1140번지 5호,서울특별시 동대문구 왕산로 117 (제기동),불로장생타워,2022-02-18 16:30:15,전문점,203155.504922,452914.607543
244,302,영업/정상,서울특별시 동대문구 용두동 787번지 동의보감타워,NaN,건강백화점 동의보감,2014-10-29 14:53:02,전문점,203258.377206,452834.064125
249,307,영업/정상,서울특별시 동대문구 제기동 892번지 71호,서울특별시 동대문구 왕산로 109 (제기동),한솔동의보감,2015-04-22 14:23:25,전문점,203075.098505,452918.836458
393,516,영업/정상,서울특별시 마포구 동교동 166번지 14호,서울특별시 마포구 양화로 176 (동교동),스타피카소 아울렛,2008-04-03 18:10:02,전문점,193282.130800,450549.280167
409,532,영업/정상,서울특별시 마포구 동교동 166번지 15호,서울특별시 마포구 양화로 176 (동교동),YZ Park 홍대점,2020-03-30 14:19:59,전문점,193296.791432,450562.931243
505,681,영업/정상,서울특별시 영등포구 문래동3가 55호,서울특별시 영등포구 당산로 34 (문래동3가),로데오 왁,2014-11-26 17:55:53,전문점,190644.120685,446104.925182
523,699,영업/정상,서울특별시 영등포구 문래동3가 55-16 영등포 SK 리더스뷰,"서울특별시 영등포구 문래로 164, 영등포 SK 리더스뷰 (문래동3가)",룩스쇼핑센터,2020-09-07 17:34:45,전문점,191087.758954,446157.437289
571,770,영업/정상,서울특별시 서초구 방배본동 755번지 5호,서울특별시 서초구 방배중앙로 198 (방배동),롯데쇼핑(주)롯데슈퍼 방배점,2017-05-02 09:02:40,전문점,198660.616347,443855.573402
574,773,영업/정상,NaN,서울특별시 서초구 효령로 304 (서초동),국제전자도매센타,2016-03-03 11:07:45,전문점,201501.672660,442505.573143
582,781,영업/정상,NaN,서울특별시 서초구 강남대로 465 (서초동),교보타워 지하아케이드,2013-03-16 17:35:20,전문점,202058.674687,444618.167315
636,860,영업/정상,서울특별시 송파구 신천동 29번지,서울특별시 송파구 올림픽로 300-0 (신천동),롯데하이마트 월드타워점,2016-10-17 16:47:27,전문점,209074.900840,445657.809330
651,875,영업/정상,서울특별시 송파구 잠실3동 40번지 1호 롯데월드,서울특별시 송파구 올림픽로 240 (잠실동),롯데하이마트잠실점,2017-07-24 11:23:43,전문점,208589.363343,445455.904053
699,967,영업/정상,서울특별시 용산구 한강로3가 3-23 나진상가,"서울특별시 용산구 청파로 112, 나진상가 (한강로3가)",용산라이프시티피에프브이 주식회사,2022-05-03 13:40:25,전문점,196727.535754,447868.128309
709,977,영업/정상,서울특별시 서초구 잠원동 70번지 2호,서울특별시 서초구 잠원로 51 (잠원동),뉴코아아울렛,2022-11-23 11:23:23,전문점,200576.608648,445241.898418

In [70]:
df["지번주소"]

0                       서울특별시 금천구 가산동 60번지 22호
1                       서울특별시 금천구 가산동 60번지 20호
2      서울특별시 양천구 목5동 903번지 목동3단지아파트 관리동상가 105호
3                     서울특별시 영등포구 당산동2가 30번지 2호
4                      서울특별시 서초구 방배1동 816번지 1호
                        ...
992       서울특별시 광진구 자양동 227번지 342호 롯데백화점 스타시티점
993                     서울특별시 광진구 구의동 546번지 4호
994                   서울특별시 성북구 길음1동 1285번지 7호
995                     서울특별시 성북구 장위동 316번지 3호
996                      서울특별시 성북구 정릉3동 1034번지
Name: 지번주소, Length: 729, dtype: object

In [94]:
df

,id,영업상태명,지번주소,도로명주소,사업장명,최종수정일자,업태구분명,좌표정보(X),좌표정보(Y)
0,0,영업/정상,서울특별시 금천구 가산동 60번지 22호,서울특별시 금천구 디지털로 185 (가산동),마리오아울렛 1관,2023-02-28 20:56:47,쇼핑센터,189943.234285,441784.247519
1,1,영업/정상,서울특별시 금천구 가산동 60번지 20호,서울특별시 금천구 벚꽃로 266 (가산동),마리오아울렛 3관,2023-02-28 21:05:56,쇼핑센터,189759.713051,441814.115921
2,2,영업/정상,서울특별시 양천구 목5동 903번지 목동3단지아파트 관리동상가 105호,"서울특별시 양천구 목동서로 100, 105호 (목동,목동3단지아파트 관리동상가)",롯데슈퍼 목동2점,2023-03-09 09:25:54,구분없음,188700.851170,448020.090999
3,3,영업/정상,서울특별시 영등포구 당산동2가 30번지 2호,서울특별시 영등포구 영등포로 109 (당산동2가),영등포유통상가,2023-03-09 15:28:54,그 밖의 대규모점포,190555.768992,446698.814323
4,4,영업/정상,서울특별시 서초구 방배1동 816번지 1호,서울특별시 방배로33길 29,롯데슈퍼 방배2점,2023-03-13 17:40:32,대형마트,198984.364832,443229.835879
...,...,...,...,...,...,...,...,...,...
724,992,영업/정상,서울특별시 광진구 자양동 227번지 342호 롯데백화점 스타시티점,서울특별시 광진구 능동로 92 (자양동),롯데백화점 건대스타시티점,2022-05-13 14:43:47,백화점,206217.434726,448506.218744
725,993,영업/정상,서울특별시 광진구 구의동 546번지 4호,서울특별시 광진구 광나루로56길 85 (구의동),롯데쇼핑(주)롯데마트 강변점,2023-04-10 10:48:38,대형마트,208394.416382,448165.280000
726,994,영업/정상,서울특별시 성북구 길음1동 1285번지 7호,서울특별시 성북구 오패산로4길 17 (하월곡동),롯데마켓999 하월곡점,2023-05-19 11:01:28,구분없음,201621.331750,456272.261670
727,995,영업/정상,서울특별시 성북구 장위동 316번지 3호,서울특별시 성북구 월계로40길 7 (장위동),롯데마이슈퍼 장위점,2023-05-19 10:42:09,구분없음,204208.631201,457844.348011
728,996,영업/정상,서울특별시 성북구 정릉3동 1034번지,서울특별시 성북구 정릉로 307 (정릉동),롯데마이슈퍼 정릉점,2023-05-19 10:10:49,구분없음,201548.495616,455659.817852

In [68]:
df.isnull().sum()

영업상태명       0
지번주소       92
도로명주소      77
사업장명        0
최종수정일자      0
업태구분명       1
좌표정보(X)    54
좌표정보(Y)    54
dtype: int64

In [72]:
df["업태구분명"].unique()

array(['쇼핑센터', '구분없음', '그 밖의 대규모점포', '대형마트', '백화점', '시장', '복합쇼핑몰', '전문점',
       nan], dtype=object)

In [93]:
df = df[(df['업태구분명'] == "구분없음") | (df['업태구분명'] == "그 밖의 대규모점포") | (df['업태구분명'] == "대형마트") | (df['업태구분명'] == "백화점") | (df['업태구분명'] == "복합쇼핑몰") | (df['업태구분명'] == "쇼핑센터")]

In [19]:
df = df[["영업상태명", "지번주소", "도로명주소", "사업장명", "최종수정일자", "업태구분명"]]

In [30]:
df["업태구분명"].unique()

array(['커피숍', '기타 휴게음식점', '편의점', '백화점', '패스트푸드', '일반조리판매', '다방', '푸드트럭',
       '아이스크림', '전통찻집', '키즈카페', '떡카페', '철도역구내', '유원지', '과자점', '고속도로',
       '관광호텔', '극장', '단란주점', '호프/통닭', '공항'], dtype=object)

In [6]:
df = df[df["address"].str.contains('서울')]
df

,id,name,address,city_name,county_name,town_name,x,y,type,data_type
3,16,GS THE FRESH 성북클라시아점,"서울특별시 성북구 숭인로8길 80, 롯데캐슬클라시아 상가 101~104호 (길음동)",서울,성북구,길음동,126.981204,37.555589,구분없음,마트
7,27,자양1재정비촉진구역 도시정비형 재개발사업 판매시설,서울특별시 광진구 자양동 680-63,서울,서대문구,대현동,126.981204,37.555589,쇼핑센터,마트
11,34,이마트에브리데이 길음점,"서울특별시 성북구 길음로7길 6, 길음뉴타운9단지래미안 상가 지하1층 B04~B08...",서울,양천구,신정동,126.981204,37.555589,구분없음,마트
12,36,이마트에브리데이 길음점,"서울특별시 성북구 길음로7길 6, 길음뉴타운9단지래미안 상가 지하1층 B04~B08...",서울,강남구,역삼동,126.981204,37.555589,구분없음,마트
14,38,홍대복합역사 상업시설,서울특별시 마포구 와우산로35길 50-4 (동교동),서울,동작구,노량진동,126.981204,37.555589,쇼핑센터,마트
...,...,...,...,...,...,...,...,...,...,...
617,1498,신동아프라자,서울특별시 도봉구 방학로 223 (방학동),서울,금천구,독산동,126.981204,37.555589,그 밖의 대규모점포,마트
618,1499,스페이스프라자,서울특별시 강서구 공항대로71길 49 (염창동),서울,금천구,독산동,126.981204,37.555589,그 밖의 대규모점포,마트
619,1500,도봉한신쇼핑상가,서울특별시 도봉구 도봉로180나길 41 (도봉동),서울,강동구,명일동,126.981204,37.555589,그 밖의 대규모점포,마트
620,1501,대우상가,서울특별시 도봉구 덕릉로63가길 61 (창동),서울,구로구,구로동,126.981204,37.555589,그 밖의 대규모점포,마트
621,1516,헬로우에이피엠,서울특별시 중구 장충단로 253 (을지로6가),서울,강동구,암사동,126.981204,37.555589,그 밖의 대규모점포,마트

In [73]:
df.drop(df[df['업태구분명'] == "유원지"].index, inplace=True)

In [95]:
df.to_csv('./data/seoul_market_new.csv', index=True, index_label="id", header=True, encoding="utf-8" )

## 동 추출을 위한 주소 전처리

In [5]:
df = pd.read_csv("./data/before/유흥주점.csv")

In [17]:
test_data = df
test_data

,name,address,개방자치단체코드,type,county_name,town
0,판도라,서울특별시 관악구 신림동 530-31 상진,3200000,단란주점,관악구,신림동
1,왓따7080,서울특별시 은평구 구산동 321-98 지하1층,3110000,단란주점,은평구,구산동
2,서담주점,서울특별시 구로구 구로동 153-3,3160000,단란주점,구로구,구로동
3,유토피아,서울특별시 중랑구 묵동 245-1,3060000,단란주점,중랑구,묵동
4,테크노,서울특별시 서대문구 홍제동 173-2,3120000,단란주점,서대문구,홍제동
...,...,...,...,...,...,...
3658,국빈관관광나이트크럽,서울특별시 금천구 독산동 293-5,3170000,고고(디스코)클럽,금천구,독산동
3659,샤넬,서울특별시 영등포구 영등포동3가 17-9 스카이모텔,3180000,기타,영등포구,영등포동3가
3660,더 레이스,"서울특별시 서초구 잠원동 21-3 ,4호 (지하 1층)",3210000,카바레,서초구,잠원동
3661,플레이,"서울특별시 영등포구 여의도동 44-32 에리트빌팅 지하101,102,103호",3180000,룸살롱,영등포구,여의도동
3662,원투,서울특별시 금천구 시흥동 124-1 지하1층,3170000,룸살롱,금천구,시흥동

In [9]:
df['town'] = df['address'].str.split().str[2]

In [12]:
contain = df[df["x"].str.startswith("12")]
contain

,name,address,city_name,county_name,town_name,x,y,data_type,h_code
4,국민약국,"서울특별시 강서구 곰달래로 225, 1,2층",서울,강서구,화곡동,126.8580318,37.531849,약국,1.150057e+09
58,이화정문약국,"서울특별시 강서구 마곡중앙4로 74, 104~105호",서울,강서구,마곡동,126.8349216,37.557885,약국,1.150061e+09
65,휴베이스 새봄약국,"서울특별시 용산구 원효로 51, 250,251,252,253호",서울,용산구,원효로4가,126.9500687,37.533871,약국,1.117057e+09
112,기린약국,"서울특별시 성동구 독서당로 175, 101-2호",서울,성동구,옥수동,127.00985,37.541933,약국,1.120064e+09
145,은평오렌지약국,"서울특별시 은평구 진관2로 29-21, 113,114호",서울,은평구,진관동,126.9193479,37.635729,약국,1.138069e+09
...,...,...,...,...,...,...,...,...,...
5415,송송약국,"서울특별시 종로구 종로 19, 116-1",서울,종로구,청진동,126.9798606,37.570834,약국,1.111062e+09
5421,은평천사약국,"서울특별시 은평구 통일로 1034, 135,136,137호",서울,은평구,진관동,126.9180011,37.635085,약국,1.138069e+09
5504,아현이층약국,"서울특별시 서대문구 신촌로35길 10, 402엠동 2층 215호",서울,서대문구,북아현동,126.9558605,37.558622,약국,1.141056e+09
5544,도담약국,"서울특별시 노원구 공릉로43길 1, 104호",서울,노원구,공릉동,127.0785138,37.625974,약국,1.135060e+09
5548,자이안약국,"서울특별시 서초구 사평대로45길 10-25, 109-2호",서울,서초구,반포동,127.013948,37.506631,약국,1.165056e+09

In [22]:
not_contain["x"] = not_contain["x"].astype(float)

C:\Users\82108\AppData\Local\Temp\ipykernel_16692\134033569.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contain["x"] = contain["x"].astype(float)

In [24]:
contain.info()

<class 'pandas.core.frame.DataFrame'>
Index: 134 entries, 4 to 5548
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         134 non-null    object
 1   address      134 non-null    object
 2   city_name    134 non-null    object
 3   county_name  134 non-null    object
 4   town_name    134 non-null    object
 5   x            134 non-null    float64
 6   y            134 non-null    float64
 7   data_type    134 non-null    object
 8   h_code       134 non-null    float64
dtypes: float64(3), object(6)
memory usage: 10.5+ KB

In [106]:
df = df["도로명주소"]

In [102]:
df

Empty DataFrame
Columns: [id, id.1, 영업상태명, 지번주소, 도로명주소, 사업장명, 최종수정일자, 업태구분명, 좌표정보(X), 좌표정보(Y)]
Index: []

In [6]:
# 도로명으로 검색할 거라서 결측값에 지번 주소 넣어주기
test_data['소재지도로명주소'].fillna(test_data['소재지지번주소'], inplace=True)

In [98]:
df['지번주소'].fillna(" ", inplace=True)

In [8]:
test_data['소재지지번주소'].fillna(test_data['소재지도로명주소'], inplace=True)

In [104]:
#괄호로 된 주소 제거
def remove_brackets(address):
    return address.split('(')[0]

df['도로명주소'] = df['도로명주소'].apply(remove_brackets)

In [103]:
# 콤마 뒤에 있는 거 지우기
def split(address):
    split_address = address.split(',')
    first_sentence = split_address[0].strip()
    return first_sentence
    
df['도로명주소'] = df['도로명주소'].apply(split)

In [106]:
def remove_apartment_and_join(address):
    # 문자열을 공백을 기준으로 split
    words = address.split()

    # '아파트'가 포함된 단어를 찾아 제외
    words = [word for word in words if '백화점' not in word]

    # 나머지 단어들을 공백으로 join
    cleaned_address = ' '.join(words)

    return cleaned_address

df['지번주소'] = df['지번주소'].apply(remove_apartment_and_join)

In [100]:
import re
def remove(address):
    words = address.split()
    result1 = words[0:5]
    result = [words[i] + ' ' + words[i + 1] for i in range(len(words) - 1) if re.match('.*동$', words[i])]
    joined_result = ' '.join(result1)
    return joined_result
df['지번주소'] = df['지번주소'].apply(remove)

In [13]:
df = df["지번주소"]

In [107]:
df.to_csv('./data/market2_add.csv', index=False, index_label="id", header=True, encoding="utf-8" )

## 동만 추출하기

### open api 로 주소 변환하기

In [11]:
import requests, json
import pandas as pd
import time

In [12]:
api_key = "04de15765896d81d7e68ce557cc08229"

In [129]:
api_key = "7677a2b28c2c47b053596428a39a3dc4"

#### 주소 -> 법정동

In [13]:
def get_location(address):
    url = 'https://dapi.kakao.com/v2/local/search/address.json?query=' + address
    headers = {"Authorization": "KakaoAK " + api_key}
    api_json = json.loads(str(requests.get(url,headers=headers).text))
    return api_json

#### 좌표 -> 법정동

In [267]:
def get_location(X, Y):
    url = f"https://dapi.kakao.com/v2/local/geo/coord2regioncode.json?x={X}&y={Y}"
    headers = {"Authorization": "KakaoAK 905ba1855aa03b3416e81d27e5331850"}
    api_json = json.loads(str(requests.get(url,headers=headers).text))
    return api_json

### 샘플 테스트

In [14]:
add = get_location("서울특별시 강남구 신사동 610-4	")
add

{'documents': [{'address': {'address_name': '서울 강남구 신사동 610-4',
    'b_code': '1168010700',
    'h_code': '1168054500',
    'main_address_no': '610',
    'mountain_yn': 'N',
    'region_1depth_name': '서울',
    'region_2depth_name': '강남구',
    'region_3depth_h_name': '압구정동',
    'region_3depth_name': '신사동',
    'sub_address_no': '4',
    'x': '127.029033399992',
    'y': '37.526317973736'},
   'address_name': '서울 강남구 신사동 610-4',
   'address_type': 'REGION_ADDR',
   'road_address': {'address_name': '서울 강남구 압구정로30길 18',
    'building_name': '',
    'main_building_no': '18',
    'region_1depth_name': '서울',
    'region_2depth_name': '강남구',
    'region_3depth_name': '신사동',
    'road_name': '압구정로30길',
    'sub_building_no': '',
    'underground_yn': 'N',
    'x': '127.028998553545',
    'y': '37.5263112247816',
    'zone_no': '06022'},
   'x': '127.029033399992',
   'y': '37.526317973736'}],
 'meta': {'is_end': True, 'pageable_count': 1, 'total_count': 1}}

In [142]:
add['documents'][0]['address']["region_3depth_name"]

'신사동'

In [268]:
# 좌표 inputd
add = get_location(127.131686, 37.559114)
add["documents"][1]["code"]

'1174059000'

In [ ]:
from tqdm.notebook import tqdm

sample_error_list = []
code_list = []

for i in tqdm(range(len(test_data["x"]))):
    try:
        ad_json = get_location(test_data["x"][i], test_data["y"][i])
        code_list.append(ad_json["documents"][1]["code"])
    except IndexError:
        print(f"{i}번째에서 IndexError 발생! 위치: {sample_X[i], sample_Y[i]}")
        sample_error_list.append([sample_X[i], sample_Y[i]])
        continue

### 주소로 동 추출하기

In [30]:
test_data = pd.read_csv("./data/pharmacies_not_contain.csv")

In [8]:
test_data.rename(columns={"소재지도로명주소": "address"}, inplace=True)

In [18]:
d = test_data[test_data["address"] == ""]
d

Empty DataFrame
Columns: [Unnamed: 0, 점포명, 시도명, 시군구명, address, 소재지지번주소, 위도, 경도, 관할경찰서명]
Index: []

In [18]:
from tqdm.notebook import tqdm

address_list = []
dong_code = []
gu_list = []
x_list = []
y_list = []
for i in tqdm(range(len(test_data["address"]))):
    try:
        add = get_location(test_data["address"][i])
        address_list.append(add["documents"][0]["address"]["region_3depth_name"])
        gu_list.append(add["documents"][0]["address"]["region_2depth_name"])
        dong_code.append(add["documents"][0]["address"]["h_code"])
        x_list.append(add["documents"][0]["address"]["x"])
        y_list.append(add["documents"][0]["address"]["y"])
    except IndexError:
        print(f"{i+1}번째에서 IndexError 발생! 주소: {test_data['address'][i]}")
        address_list.append(None)
        continue
    except TypeError:
        print(f"{i+1}번째에서 TypeError 발생! 주소: {add}")
        gu_list.append(None)
        dong_code.append(None)
        x_list.append(None)
        y_list.append(None)
        continue

  0%|          | 0/3663 [00:00<?, ?it/s]

14번째에서 IndexError 발생! 주소: 서울특별시 관악구 남현동 1061-3 외1필지 가호
37번째에서 IndexError 발생! 주소: 서울특별시 강서구 화곡동 927-1 (지상 1층) 111-A호
153번째에서 IndexError 발생! 주소: 서울특별시 중구 회현동2가 15-1번지
180번째에서 IndexError 발생! 주소: 서울특별시 용산구 한남동 6391
198번째에서 IndexError 발생! 주소: 서울특별시 성북구 하월곡동 104-17번지 ,18
286번째에서 IndexError 발생! 주소: 서울특별시 구로구 신도림동 426-26
333번째에서 IndexError 발생! 주소: 서울특별시 영등포구 영등포동5가 19-0
366번째에서 IndexError 발생! 주소: 서울특별시 종로구 공평동 60번지
374번째에서 IndexError 발생! 주소: 서울특별시 종로구 견지동 110-7번지
377번째에서 IndexError 발생! 주소: 서울특별시 종로구 익선동 56-3번지
387번째에서 IndexError 발생! 주소: 서울특별시 종로구 낙원동 243-8번지 9,10
415번째에서 IndexError 발생! 주소: 서울특별시 종로구 신문로2가 1-402번지
423번째에서 IndexError 발생! 주소: 서울특별시 종로구 당주동 23-6번지
430번째에서 IndexError 발생! 주소: 서울특별시 종로구 와룡동 88-0번지 89-1,90-3
432번째에서 IndexError 발생! 주소: 서울특별시 종로구 숭인동 310번지 외 3필지(지하1층)
453번째에서 IndexError 발생! 주소: 서울특별시 중구 황학동 30-1번지
458번째에서 IndexError 발생! 주소: 서울특별시 중구 을지로5가 274-1번지 274-20
509번째에서 IndexError 발생! 주소: 서울특별시 용산구 한강로2가 199-1번지 (지하1층)
514번째에서 IndexError 발생! 주소: 서울특별시 용산구 한강로3가 63-132번지 (지하1층)
519번째에서 IndexError 발생! 주소: 서울특별시 용산구 서계동 264-15번지 ,14(지층)
525번째에서 IndexError 발생! 주소: 서울특별시 용산구 이태원동 635번지 ,636,638,639 (지층)
526번째에서 IndexError 발생! 주소: 서울특별시 용산구 남영동 65-1번지 ,2,3(지상2층)
545번째에서 IndexError 발생! 주소: 서울특별시 성동구 성수동2가 275-42번지 ,251-80
551번째에서 IndexError 발생! 주소: 서울특별시 성동구 성수동1가 289번지 ,290, 694-68
562번째에서 IndexError 발생! 주소: 서울특별시 성동구 도선동 253-5 ,6,9
571번째에서 IndexError 발생! 주소: 서울특별시 성동구 하왕십리동 966-14 , 행당동 286-1번지
579번째에서 IndexError 발생! 주소: 서울특별시 광진구 구의동 252-3 ,51
678번째에서 IndexError 발생! 주소: 서울특별시 동대문구 청량리동 50-1번지 외1필지
695번째에서 IndexError 발생! 주소: 서울특별시 중랑구 상봉동 136-2번지 .3
761번째에서 IndexError 발생! 주소: 서울특별시 중랑구 면목동 167-8번지
770번째에서 IndexError 발생! 주소: 서울특별시 성북구 종암동 3-544번지 ,3-71,124-80
776번째에서 IndexError 발생! 주소: 서울특별시 성북구 하월곡동 67-29번지 67-29,30,31, 96-222
790번째에서 IndexError 발생! 주소: 서울특별시 성북구 장위동 64-123번지 ,124,128
793번째에서 IndexError 발생! 주소: 서울특별시 성북구 삼선동5가 324번지 ,325
805번째에서 IndexError 발생! 주소: 서울특별시 성북구 하월곡동 60-109번지 ,-107
954번째에서 IndexError 발생! 주소: 서울특별시 은평구 불광동 314-3번지 ,309-25 (지층)
1019번째에서 IndexError 발생! 주소: 서울특별시 은평구 불광동 494 495번지
1046번째에서 IndexError 발생! 주소: 서울특별시 서대문구 남가좌동 259-12 (지하1층)
1053번째에서 IndexError 발생! 주소: 서울특별시 금천구 독산동 1030-2 ,3,6 지하1층 (시흥대로 311)
1057번째에서 IndexError 발생! 주소: 서울특별시 서대문구 북가좌동 300-14 ,15,16
1074번째에서 IndexError 발생! 주소: 서울특별시 서대문구 홍은동 48-159번지 외 1필지(48-161) 지하1층 전체
1095번째에서 IndexError 발생! 주소: 서울특별시 마포구 신공덕동 167번지 외2필지 메트로디오빌 지1층 B119호
1110번째에서 IndexError 발생! 주소: 서울특별시 마포구 동교동 174-14번지 외1필지 B1
1138번째에서 IndexError 발생! 주소: 서울특별시 강서구 화곡동 1073-3번지 외 1필지 (지하 1층)
1155번째에서 IndexError 발생! 주소: 서울특별시 강서구 가양동 116-4번지
1157번째에서 IndexError 발생! 주소: 서울특별시 강서구 공항동 72-33번지 외 1필지 (지하 1층)
1168번째에서 IndexError 발생! 주소: 서울특별시 강서구 화곡동 935-5번지 외 1필지 힐하우스 (지상 2층)
1201번째에서 IndexError 발생! 주소: 서울특별시 강서구 화곡동 794-12번지 외 2필지 (지하 1층)
1203번째에서 IndexError 발생! 주소: 서울특별시 강서구 화곡동 110-65 외 2필지 (지하 1층)
1224번째에서 IndexError 발생! 주소: 서울특별시 강서구 화곡동 1118-3 외 1필지 (지하 1층)
1237번째에서 IndexError 발생! 주소: 서울특별시 강서구 마곡동 727-12번지
1244번째에서 IndexError 발생! 주소: 서울특별시 강서구 화곡동 1059-50 외 1필지 (지하 1층)
1253번째에서 IndexError 발생! 주소: 서울특별시 강서구 화곡동 938-17번지 외 1필지 (지하 1층)
1266번째에서 IndexError 발생! 주소: 서울특별시 강서구 화곡동 800-10번지 외 1필지 (지하 1층)
1271번째에서 IndexError 발생! 주소: 서울특별시 강서구 화곡동 935-5 외 1필지 힐하우스 (지상 3층)
1301번째에서 IndexError 발생! 주소: 서울특별시 구로구 구로동 1125-3번지 외1필지 2층
1321번째에서 IndexError 발생! 주소: 서울특별시 금천구 시흥동 885-4번지 ,5,7,8 지하1층 (금천로 189)
1332번째에서 IndexError 발생! 주소: 서울특별시 금천구 시흥동 999-48 ,49 지하1층 (금천로 218)
1429번째에서 IndexError 발생! 주소: 서울특별시 영등포구 당산동3가 159 외1필지
1436번째에서 IndexError 발생! 주소: 서울특별시 영등포구 당산동3가 174-0번지 ,175-4 지하1층
1481번째에서 IndexError 발생! 주소: 서울특별시 동작구 사당동 133-17 ,20
1915번째에서 IndexError 발생! 주소: 서울특별시 강동구 천호동 453-8번지 외3필지 1층
1961번째에서 IndexError 발생! 주소: 서울특별시 강동구 길동 448-1 ,2,449
1967번째에서 IndexError 발생! 주소: 서울특별시 강동구 성내동 416번지 ,416-1,2,3
1987번째에서 IndexError 발생! 주소: 서울특별시 서대문구 홍제동 139-7 /139-5 외2필지 나동(2021.8.20.직권변경)
1988번째에서 IndexError 발생! 주소: 서울특별시 서대문구 남가좌동 268-15 26,27
1991번째에서 IndexError 발생! 주소: 서울특별시 서대문구 남가좌동 254-7
1992번째에서 IndexError 발생! 주소: 서울특별시 서대문구 북가좌동 105-14
2023번째에서 IndexError 발생! 주소: 서울특별시 관악구 봉천동 857-5 외 1필지 지하1층
2039번째에서 IndexError 발생! 주소: 서울특별시 강남구 역삼동 831-42 .43
2091번째에서 IndexError 발생! 주소: 서울특별시 서초구 잠원동 18-5 외4필지 지하2,3층
2118번째에서 IndexError 발생! 주소: 서울특별시 은평구 대조동 15-84 지하1 층
2236번째에서 IndexError 발생! 주소: 서울특별시 강남구 삼성동 142-29 7~8층
2252번째에서 IndexError 발생! 주소: 서울특별시 금천구 시흥동 999-48 ,49 지하1층
2310번째에서 IndexError 발생! 주소: 서울특별시 종로구 견지동 110-13번지
2363번째에서 IndexError 발생! 주소: 서울특별시 종로구 도렴동 117-1번지 (지상 3층)
2372번째에서 IndexError 발생! 주소: 서울특별시 종로구 종로1가 24번지 르메이에르종로타운 지하2층 B203-1,B203-2
2403번째에서 IndexError 발생! 주소: 서울특별시 종로구 교북동 12-19번지
2404번째에서 IndexError 발생! 주소: 서울특별시 종로구 종로5가 503-15번지 16,27,28
2422번째에서 IndexError 발생! 주소: 서울특별시 종로구 당주동 2-3번지 외 2필지(지하1층)
2439번째에서 IndexError 발생! 주소: 서울특별시 종로구 청진동 296-1번지 지하1층
2443번째에서 IndexError 발생! 주소: 서울특별시 종로구 창신동 438-14번지 외1필지 지하1층
2460번째에서 IndexError 발생! 주소: 서울특별시 종로구 원남동 118-0번지
2462번째에서 IndexError 발생! 주소: 서울특별시 종로구 관훈동 198-30번지 지하1층
2474번째에서 IndexError 발생! 주소: 서울특별시 중구 신당동 120-4번지 (지하1층)
2505번째에서 IndexError 발생! 주소: 서울특별시 중구 충무로3가 35-3번지 외 1필지 (지상2층)
2507번째에서 IndexError 발생! 주소: 서울특별시 중구 서소문동 90번지 외3필지(지하1층)
2541번째에서 IndexError 발생! 주소: 서울특별시 중구 남대문로5가 84-4번지 외 3필지(84-1,84-2,84-3)
2542번째에서 IndexError 발생! 주소: 서울특별시 중구 충무로4가 15-18번지 외1필지(15-20) (3층)
2544번째에서 IndexError 발생! 주소: 서울특별시 중구 충무로4가 25번지 외1필지 (2층)
2545번째에서 IndexError 발생! 주소: 서울특별시 중구 충무로4가 25번지 외1필지 (3층)
2568번째에서 IndexError 발생! 주소: 서울특별시 중구 인현동2가 192-17 외2필지(지하1층)
2583번째에서 IndexError 발생! 주소: 서울특별시 중구 충무로4가 131-4번지 외1필지(지상2층)
2586번째에서 IndexError 발생! 주소: 서울특별시 중구 저동2가 80-5번지
2604번째에서 IndexError 발생! 주소: 서울특별시 중구 수표동 62-4번지
2643번째에서 IndexError 발생! 주소: 서울특별시 중구 서소문동 84번지 (지하1층)
2675번째에서 IndexError 발생! 주소: 서울특별시 성동구 마장동 474-1번지
2684번째에서 IndexError 발생! 주소: 서울특별시 광진구 화양동 24-1번지 , 7
2749번째에서 IndexError 발생! 주소: 서울특별시 성북구 보문동4가 77-2번지 외3필지(76번지포함)
2754번째에서 IndexError 발생! 주소: 서울특별시 성북구 동선동4가 7 외 1필지
2834번째에서 IndexError 발생! 주소: 서울특별시 은평구 대조동 12-10번지 외1필지(지하1층)
2835번째에서 IndexError 발생! 주소: 서울특별시 은평구 응암동 600-2 외2필지 지상4층
2836번째에서 IndexError 발생! 주소: 서울특별시 은평구 대조동 12-10번지 외1필지(지층)
2895번째에서 IndexError 발생! 주소: 서울특별시 은평구 대조동 185-50번지 외3필지(1층)
2908번째에서 IndexError 발생! 주소: 서울특별시 서대문구 창천동 29-45 29-109
2911번째에서 IndexError 발생! 주소: 서울특별시 서대문구 창천동 18-84 외 1필지, 2층
2925번째에서 IndexError 발생! 주소: 서울특별시 마포구 도화동 36번지 고려아카데미텔 지하1층 48,53,55,59,60호
2947번째에서 IndexError 발생! 주소: 서울특별시 마포구 노고산동 57-18 지층 B103-1, B103-2, B103-3, B102-2호
2960번째에서 IndexError 발생! 주소: 서울특별시 강서구 화곡동 1116-6 외 1필지 (지하 1층)
2976번째에서 IndexError 발생! 주소: 서울특별시 강서구 화곡동 1117-17 외 1필지 (지하 1층)
2979번째에서 IndexError 발생! 주소: 서울특별시 강서구 화곡동 1117-16 외 2필지 (지하 1층)
2981번째에서 IndexError 발생! 주소: 서울특별시 강서구 화곡동 982-9번지 외 1필지 삼호빌딩 (지하 1층)
3016번째에서 IndexError 발생! 주소: 서울특별시 강서구 화곡동 903-17 외 1필지 (지상 2층)
3020번째에서 IndexError 발생! 주소: 서울특별시 강서구 화곡동 1105-5 외 1필지 (지하 1층)
3040번째에서 IndexError 발생! 주소: 서울특별시 강서구 염창동 259-2 외 1필지 나이아가라호텔 (지하 3층)
3122번째에서 IndexError 발생! 주소: 서울특별시 영등포구 여의도동 35-5 331,332호
3170번째에서 IndexError 발생! 주소: 서울특별시 영등포구 영등포동3가 4-7번지 외1필지 지하1층 일부
3181번째에서 IndexError 발생! 주소: 서울특별시 영등포구 영등포동3가 5-6번지 외1필지
3235번째에서 IndexError 발생! 주소: 서울특별시 관악구 신림동 1421-41번지 48,49지하1층
3302번째에서 IndexError 발생! 주소: 서울특별시 관악구 남현동 1061-9번지 ,10
3308번째에서 IndexError 발생! 주소: 서울특별시 관악구 신림동 1431-4 ,5
3314번째에서 IndexError 발생! 주소: 서울특별시 관악구 남현동 1061-14번지
3329번째에서 IndexError 발생! 주소: 서울특별시 관악구 신림동 1431-4 외1필지 지상3층
3380번째에서 IndexError 발생! 주소: 서울특별시 강남구 논현동 2-15 .16 지하1층
3489번째에서 IndexError 발생! 주소: 서울특별시 강남구 역삼동 702-16 ,17
3583번째에서 IndexError 발생! 주소: 서울특별시 강동구 길동 412-11번지 ,16
3600번째에서 IndexError 발생! 주소: 서울특별시 강동구 길동 413-42 지하1층
3633번째에서 IndexError 발생! 주소: 서울특별시 강동구 천호동 454-3 ,4
3639번째에서 IndexError 발생! 주소: 서울특별시 강동구 천호동 454-25 ,26,27(3층)
3662번째에서 IndexError 발생! 주소: 서울특별시 영등포구 여의도동 44-32 에리트빌팅 지하101,102,103호

In [24]:
test_data['town_split'] = test_data['address'].str.split().str[2]

In [19]:
test_data["town"] = address_list

['신림동',
 '구산동',
 '구로동',
 '묵동',
 '홍제동',
 '보광동',
 '논현동',
 '번동',
 '역삼동',
 '갈현동',
 '가락동',
 '수유동',
 '시흥동',
 None,
 '화곡동',
 '방학동',
 '갈현동',
 '가락동',
 '방이동',
 '목동',
 '시흥동',
 '목동',
 '서초동',
 '낙원동',
 '화곡동',
 '묵동',
 '역삼동',
 '잠원동',
 '방배동',
 '구의동',
 '갈현동',
 '창동',
 '영등포동3가',
 '논현동',
 '원효로3가',
 '신정동',
 None,
 '논현동',
 '하월곡동',
 '신림동',
 '석촌동',
 '방이동',
 '녹번동',
 '서초동',
 '돈의동',
 '암사동',
 '목동',
 '청파동3가',
 '신림동',
 '서초동',
 '서초동',
 '삼성동',
 '낙원동',
 '전농동',
 '상계동',
 '신사동',
 '묵동',
 '신림동',
 '갈현동',
 '논현동',
 '화곡동',
 '수유동',
 '가락동',
 '묵동',
 '구의동',
 '신당동',
 '상도1동',
 '수유동',
 '북창동',
 '대조동',
 '미아동',
 '여의도동',
 '대림동',
 '낙원동',
 '광장동',
 '광장동',
 '영등포동3가',
 '동교동',
 '신사동',
 '석관동',
 '구로동',
 '구로동',
 '송파동',
 '화곡동',
 '서초동',
 '방학동',
 '풍납동',
 '화곡동',
 '화곡동',
 '갈현동',
 '구수동',
 '상봉동',
 '가락동',
 '삼전동',
 '자양동',
 '봉천동',
 '용두동',
 '한남동',
 '성내동',
 '논현동',
 '망우동',
 '화곡동',
 '상계동',
 '독산동',
 '합정동',
 '한남동',
 '전농동',
 '삼선동4가',
 '신월동',
 '길동',
 '창동',
 '수유동',
 '신정동',
 '목동',
 '이태원동',
 '석촌동',
 '을지로5가',
 '오류동',
 '신사동',
 '이태원동',
 '길동',
 '신정동',
 '서초동',
 '여의도동',
 '당산동1가',
 '이태원동',
 '상봉동',
 '상봉동',
 '구의동',
 '미아동',
 '성수동2가',
 '길동',
 '송파동',
 '성내동',
 '화곡동',
 '화곡동',
 '가양동',
 '창동',
 '낙원동',
 '창신동',
 '구로동',
 '구로동',
 '화곡동',
 '구로동',
 '면목동',
 '개봉동',
 '고척동',
 '구로동',
 '개봉동',
 '구로동',
 '구로동',
 '방이동',
 None,
 '오류동',
 '장안동',
 '낙원동',
 '체부동',
 '관수동',
 '낙원동',
 '창신동',
 '창신동',
 '창신동',
 '돈의동',
 '신당동',
 '충무로4가',
 '광희동1가',
 '신당동',
 '장충동2가',
 '북창동',
 '신당동',
 '중림동',
 '장안동',
 '신당동',
 '황학동',
 '한남동',
 '한강로1가',
 '한강로3가',
 '신계동',
 '원효로2가',
 None,
 '도선동',
 '마장동',
 '구의동',
 '화양동',
 '수유동',
 '자양동',
 '자양동',
 '구의동',
 '구의동',
 '구의동',
 '청량리동',
 '관훈동',
 '면목동',
 '망우동',
 '묵동',
 '신정동',
 '상봉동',
 None,
 '신월동',
 '번동',
 '미아동',
 '목동',
 '신월동',
 '수유동',
 '번동',
 '미아동',
 '목동',
 '번동',
 '미아동',
 '방학동',
 '상계동',
 '낙원동',
 '녹번동',
 '대조동',
 '녹번동',
 '녹번동',
 '낙원동',
 '응암동',
 '신림동',
 '수유동',
 '신월동',
 '익선동',
 '중곡동',
 '서교동',
 '신정동',
 '신정동',
 '목동',
 '응암동',
 '신림동',
 '신정동',
 '숭인동',
 '관철동',
 '낙원동',
 '종로1가',
 '낙원동',
 '종로4가',
 '오류동',
 '신월동',
 '목동',
 '신정동',
 '신정동',
 '신림동',
 '신월동',
 '도봉동',
 '합정동',
 '논현동',
 '번동',
 '신정동',
 '신정동',
 '대조동',
 '신정동',
 '신정동',
 '신정동',
 '영등포동5가',
 '수유동',
 '북가좌동',
 '응암동',
 '신림동',
 '창신동',
 '관철동',
 '노량진동',
 '서초동',
 '대조동',
 '구의동',
 '화곡동',
 '가리봉동',
 '중곡동',
 '망우동',
 '천호동',
 '수유동',
 '원효로2가',
 '미아동',
 '수유동',
 '수유동',
 '역삼동',
 '오류동',
 '신정동',
 '신림동',
 '구로동',
 '신정동',
 '번동',
 '상봉동',
 '수유동',
 '미아동',
 '미아동',
 None,
 '장안동',
 '서초동',
 '독산동',
 '구로동',
 '연희동',
 '독산동',
 '화곡동',
 '역삼동',
 '신설동',
 '상봉동',
 '묘동',
 '화곡동',
 '광장동',
 '묵동',
 '가락동',
 '공릉동',
 '명일동',
 '영등포동3가',
 '망우동',
 '영등포동4가',
 '창동',
 '여의도동',
 '대림동',
 '망우동',
 '명동1가',
 '응암동',
 '화곡동',
 '역삼동',
 '번동',
 '갈현동',
 '청담동',
 '장안동',
 '익선동',
 '역삼동',
 '대림동',
 '신길동',
 '당산동2가',
 '독산동',
 '서교동',
 '원효로2가',
 '수유동',
 '서교동',
 '등촌동',
 '신정동',
 '당산동3가',
 '방이동',
 None,
 '사당동',
 '돈의동',
 '신림동',
 '봉천동',
 '신림동',
 '신림동',
 '신림동',
 '서초동',
 '양재동',
 '잠원동',
 '서초동',
 '양재동',
 '방배동',
 '양재동',
 '서초동',
 '서초동',
 '응암동',
 '봉천동',
 '화곡동',
 '역삼동',
 '논현동',
 '방이동',
 '삼전동',
 '방이동',
 '거여동',
 '방이동',
 '방이동',
 '낙원동',
 '구기동',
 '명일동',
 '숭인동',
 '성내동',
 None,
 '길동',
 '낙원동',
 '낙원동',
 '관철동',
 '종로5가',
 '대조동',
 '낙원동',
 None,
 '낙원동',
 '인사동',
 None,
 '돈의동',
 '낙원동',
 '인사동',
 '낙원동',
 '인사동',
 '인의동',
 '종로5가',
 '낙원동',
 '익선동',
 None,
 '낙원동',
 '종로2가',
 '창신동',
 '창신동',
 '돈의동',
 '종로5가',
 '인사동',
 '연지동',
 '묘동',
 '와룡동',
 '낙원동',
 '예지동',
 '가락동',
 '익선동',
 '낙원동',
 '동선동1가',
 '낙원동',
 '묘동',
 '종로6가',
 '종로5가',
 '숭인동',
 '관수동',
 '낙원동',
 '신문로1가',
 '돈의동',
 '관철동',
 '낙원동',
 None,
 '낙원동',
 '낙원동',
 '재동',
 '구기동',
 '돈의동',
 '익선동',
 '낙원동',
 None,
 '낙원동',
 '창신동',
 '충신동',
 '구기동',
 '종로5가',
 '당주동',
 None,
 '효제동',
 None,
 '낙원동',
 '낙원동',
 '당주동',
 '장충동2가',
 '태평로2가',
 '신당동',
 '신당동',
 '무학동',
 '장충동2가',
 '신당동',
 '신당동',
 '회현동1가',
 '신당동',
 '신당동',
 '저동2가',
 '황학동',
 '광희동1가',
 '북창동',
 '역삼동',
 '을지로1가',
 None,
 '황학동',
 '무학동',
 '북창동',
 '충무로4가',
 None,
 '흥인동',
 '인현동1가',
 '충무로3가',
 '을지로2가',
 '신당동',
 '광희동1가',
 '오장동',
 '중림동',
 '무학동',
 '서소문동',
 '황학동',
 '황학동',
 '신당동',
 '충무로2가',
 '황학동',
 '초동',
 '황학동',
 '신당동',
 '황학동',
 '무학동',
 '신당동',
 '초동',
 '봉천동',
 '초동',
 '동자동',
 '신계동',
 '원효로2가',
 '보광동',
 '한남동',
 '원효로3가',
 '이태원동',
 '청파동2가',
 '한강로2가',
 '한남동',
 '한남동',
 '한남동',
 '이태원동',
 '한남동',
 '이촌동',
 '이태원동',
 '한남동',
 '청파동3가',
 '보광동',
 '원효로2가',
 '원효로3가',
 '이태원동',
 '동빙고동',
 '한강로2가',
 '한강로3가',
 '동빙고동',
 None,
 '한남동',
 '한남동',
 '한남동',
 '이태원동',
 None,
 '보광동',
 '한남동',
 '이태원동',
 '용문동',
 None,
 '이태원동',
 '이촌동',
 '한강로1가',
 '한남동',
 '한남동',
 None,
 None,
 '한남동',
 '한강로2가',
 '청파동3가',
 '남영동',
 '한남동',
 '한남동',
 '남영동',
 '한강로3가',
 '남영동',
 '갈월동',
 '이태원동',
 '한남동',
 '서계동',
 '남영동',
 '이태원동',
 '동자동',
 '마장동',
 '금호동1가',
 None,
 '성수동2가',
 '성수동2가',
 '도선동',
 '도선동',
 '금호동3가',
 None,
 '성수동2가',
 '금호동3가',
 '성수동2가',
 '성수동2가',
 '행당동',
 '성수동2가',
 '용답동',
 '금호동4가',
 '도선동',
 '금호동1가',
 None,
 '행당동',
 '도선동',
 '도선동',
 '도선동',
 '도선동',
 '도선동',
 '성수동2가',
 '도선동',
 None,
 '군자동',
 '구의동',
 '화양동',
 '군자동',
 '구의동',
 '자양동',
 '구의동',
 None,
 '화양동',
 '군자동',
 '광장동',
 '자양동',
 '중곡동',
 '중곡동',
 '구의동',
 '화양동',
 '중곡동',
 '구의동',
 '광장동',
 '중곡동',
 '화양동',
 '자양동',
 '화양동',
 '자양동',
 '광장동',
 '중곡동',
 '화양동',
 '자양동',
 '중곡동',
 '자양동',
 '군자동',
 '자양동',
 '구의동',
 '중곡동',
 '중곡동',
 '구의동',
 '중곡동',
 '자양동',
 '화양동',
 '자양동',
 '구의동',
 '중곡동',
 '화양동',
 '자양동',
 '자양동',
 '화양동',
 '구의동',
 '중곡동',
 '화양동',
 '화양동',
 '구의동',
 '자양동',
 '장안동',
 '이문동',
 '용두동',
 '신설동',
 '전농동',
 '장안동',
 '장안동',
 '장안동',
 '답십리동',
 '전농동',
 '구의동',
 '답십리동',
 '장안동',
 '제기동',
 '이문동',
 '장안동',
 '청량리동',
 '신설동',
 '청량리동',
 '장안동',
 '답십리동',
 '회기동',
 '신설동',
 '용두동',
 '장안동',
 '신설동',
 '전농동',
 '신설동',
 '장안동',
 '장안동',
 '용두동',
 '장안동',
 '답십리동',
 '답십리동',
 '답십리동',
 '장안동',
 '장안동',
 '장안동',
 '전농동',
 '신월동',
 '장안동',
 '청량리동',
 '목동',
 '장안동',
 '신월동',
 '용두동',
 '답십리동',
 '전농동',
 '신설동',
 '목동',
 '청량리동',
 '장안동',
 '용두동',
 '장안동',
 None,
 '장안동',
 '신정동',
 '전농동',
 '장안동',
 '장안동',
 '용두동',
 '신설동',
 '신정동',
 '망우동',
 '묵동',
 '면목동',
 '면목동',
 '중화동',
 '면목동',
 '상봉동',
 '면목동',
 None,
 '망우동',
 '묵동',
 '면목동',
 '면목동',
 '묵동',
 '신정동',
 '신정동',
 '상봉동',
 '망우동',
 '묵동',
 '신정동',
 '중화동',
 '망우동',
 '중화동',
 '면목동',
 '묵동',
 '면목동',
 '면목동',
 '묵동',
 '면목동',
 '망우동',
 '망우동',
 '상봉동',
 '신정동',
 '신정동',
 '상봉동',
 '망우동',
 '상봉동',
 '면목동',
 '묵동',
 '면목동',
 '묵동',
 '상봉동',
 '묵동',
 '면목동',
 '면목동',
 '신정동',
 '묵동',
 '묵동',
 '망우동',
 '묵동',
 '면목동',
 '면목동',
 '묵동',
 '면목동',
 '망우동',
 '중화동',
 '묵동',
 '묵동',
 '망우동',
 '묵동',
 '면목동',
 '망우동',
 '면목동',
 '면목동',
 '중화동',
 '신월동',
 '묵동',
 '상봉동',
 '상봉동',
 '신정동',
 '묵동',
 '신정동',
 '중화동',
 '망우동',
 None,
 '면목동',
 '망우동',
 '면목동',
 '면목동',
 '상봉동',
 '상봉동',
 '신월동',
 '정릉동',
 None,
 '보문동4가',
 '동선동1가',
 '장위동',
 '신정동',
 '보문동7가',
 None,
 '종암동',
 '장위동',
 '하월곡동',
 '삼선동1가',
 '장위동',
 '동선동1가',
 '동소문동2가',
 '정릉동',
 '동선동1가',
 '동선동1가',
 '보문동4가',
 '삼선동5가',
 '동선동1가',
 None,
 '종암동',
 '보문동4가',
 None,
 '정릉동',
 '종암동',
 '길음동',
 '동소문동5가',
 '동선동1가',
 '동소문동3가',
 '장위동',
 '동선동1가',
 '동선동1가',
 '보문동7가',
 '목동',
 None,
 '장위동',
 '정릉동',
 '삼선동1가',
 '신정동',
 '삼선동5가',
 '장위동',
 '동소문동2가',
 '수유동',
 '번동',
 '수유동',
 '미아동',
 '독산동',
 '수유동',
 '수유동',
 '수유동',
 '수유동',
 '우이동',
 '수유동',
 '신정동',
 '신월동',
 '수유동',
 '미아동',
 '수유동',
 '수유동',
 '번동',
 '미아동',
 '수유동',
 '수유동',
 '수유동',
 '수유동',
 '수유동',
 '번동',
 '번동',
 '목동',
 '미아동',
 '수유동',
 '수유동',
 '번동',
 '수유동',
 '수유동',
 '번동',
 '가산동',
 '수유동',
 '미아동',
 '번동',
 '창동',
 '미아동',
 '수유동',
 '수유동',
 '수유동',
 '번동',
 '번동',
 '수유동',
 '목동',
 '시흥동',
 '수유동',
 '수유동',
 '수유동',
 '수유동',
 '수유동',
 '신월동',
 '수유동',
 '독산동',
 '번동',
 '미아동',
 '미아동',
 '미아동',
 '번동',
 '신월동',
 '창동',
 '목동',
 '방학동',
 '창동',
 '창동',
 '도봉동',
 '방학동',
 '방학동',
 '창동',
 '방학동',
 '창동',
 '창동',
 '창동',
 '창동',
 '도봉동',
 '신정동',
 '방학동',
 '가리봉동',
 '방학동',
 '방학동',
 '방학동',
 '창동',
 '창동',
 '창동',
 '도봉동',
 '쌍문동',
 '도봉동',
 '방학동',
 '방학동',
 '쌍문동',
 '쌍문동',
 '도봉동',
 '도봉동',
 '창동',
 '방학동',
 '도봉동',
 '방학동',
 '상계동',
 '상계동',
 '공릉동',
 '상계동',
 '상계동',
 '상계동',
 '상계동',
 '상계동',
 '상계동',
 '상계동',
 '공릉동',
 '공릉동',
 '상계동',
 '공릉동',
 '상계동',
 '상계동',
 '상계동',
 '시흥동',
 '상계동',
 '상계동',
 '상계동',
 '상계동',
 '상계동',
 '상계동',
 '상계동',
 '공릉동',
 '상계동',
 '상계동',
 '수유동',
 '상계동',
 '상계동',
 '공릉동',
 '상계동',
 '불광동',
 '대조동',
 '응암동',
 '대조동',
 '신사동',
 '갈현동',
 '역촌동',
 '갈현동',
 '응암동',
 None,
 '갈현동',
 '역촌동',
 '갈현동',
 '응암동',
 '응암동',
 '대조동',
 '녹번동',
 '응암동',
 '응암동',
 '대조동',
 '대조동',
 '역촌동',
 '불광동',
 '응암동',
 '녹번동',
 '대조동',
 '불광동',
 '도화동',
 '대조동',
 '녹번동',
 '갈현동',
 '응암동',
 '역촌동',
 '녹번동',
 '응암동',
 '응암동',
 '응암동',
 '불광동',
 '응암동',
 '대조동',
 '불광동',
 '갈현동',
 '불광동',
 '응암동',
 '응암동',
 '응암동',
 '갈현동',
 '불광동',
 '신사동',
 '녹번동',
 '대조동',
 '갈현동',
 '녹번동',
 '갈현동',
 '응암동',
 '응암동',
 ...]

In [26]:
test_data.to_csv("./data/safety/club_town_check.csv")

### 에러 확인 및 수정 후 다시 변환하기

In [31]:
from tqdm.notebook import tqdm

address_list = []
dong_code = []
gu_list = []
x_list = []
y_list = []

error_list = []
error_gu_list = []
error_dong_code = []
x_error_list = []
y_error_list = []
error_index = 0  # error_list의 인덱스를 추적하기 위한 변수

for i in tqdm(range(len(test_data["address"]))):
    try:
        add = get_location(test_data["address"][i])
        address_list.append(add["documents"][0]["address"]["region_3depth_name"])
        gu_list.append(add["documents"][0]["address"]["region_2depth_name"])
        dong_code.append(add["documents"][0]["address"]["h_code"])
        x_list.append(add["documents"][0]["address"]["x"])
        y_list.append(add["documents"][0]["address"]["y"])
    except IndexError:
        print(f"{i+1}번째에서 IndexError 발생! 주소: {test_data['address'][i]}")
        if error_index < len(error_list):
            address_list.append(error_list[error_index])
            dong_code.append(error_dong_code[error_index])
            gu_list.append(error_gu_list[error_index])
            x_list.append(x_error_list[error_index])
            y_list.append(y_error_list[error_index])
            error_index += 1
        else:
            address_list.append(None)  # error_list가 모두 사용된 경우 None을 추가하여 처리
            print("None 추가")
        continue
    except TypeError:
        print(f"{i+1}번째에서 TypeError 발생! 주소: {add}")
        if error_index < len(error_list):
            #address_list.append(error_list[error_index])
            #dong_code.append(error_dong_code[error_index])
            #gu_list.append(error_gu_list[error_index])
            x_list.append(x_error_list[error_index])
            #y_list.append(y_error_list[error_index])
            error_index += 1
        else:
            address_list.append(None)  # error_list가 모두 사용된 경우 None을 추가하여 처리
            print("None 추가")
        continue

  0%|          | 0/5421 [00:00<?, ?it/s]

### 에러 주소는 따로 정보 뽑기

In [375]:
import requests
apiurl = "https://api.vworld.kr/req/address?"
address = "경기도 양주시 청담로243번길 93"
params = {
    "service": "address",
    "request": "getcoord",
    "crs": "epsg:4326",
    "address": address,
    "format": "json",
    "type": "road",
    "key": "758397CD-965B-3224-9CB0-B7A7D5A0DD7F"
}
response = requests.get(apiurl, params=params)
if response.status_code == 200:
    print(response.json())

{'response': {'service': {'name': 'address', 'version': '2.0', 'operation': 'getcoord', 'time': '32(ms)'}, 'status': 'OK', 'input': {'type': 'road', 'address': '경기 화성시 서신면 제부리'}, 'refined': {'text': '경기도 화성시 서신면 해안길 78-2', 'structure': {'level0': '대한민국', 'level1': '경기도', 'level2': '화성시', 'level3': '서신면', 'level4L': '해안길', 'level4LC': '', 'level4A': '서신면', 'level4AC': '4159035000', 'level5': '78-2', 'detail': '제부리 수산물직판장'}}, 'result': {'crs': 'EPSG:4326', 'point': {'x': '126.627838288', 'y': '37.168930037'}}}}

### 컬럼 정리 및 저장

In [29]:
len(test_data)

758

In [33]:
len(x_list)

5421

In [34]:
test_data["x_"] = x_list
#test_data["y_"] = y_list
#test_data["town_"] = address_list
#test_data["county_"] = gu_list
#test_data["h_code_"] = dong_code

In [45]:
df = pd.read_csv("./data/pharmacies_contain.csv")

In [56]:
test_data.drop(columns=["id"], inplace=True)

C:\Users\82108\AppData\Local\Temp\ipykernel_16692\4025648853.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data.drop(columns=["id"], inplace=True)

In [38]:
test_data = test_data[["id","name","address", "city_name", "county_name", "town_name", "data_type", "x_", "y", "h_code"]]

In [35]:
test_data.rename(columns={"Unnamed: 0": "id"}, inplace=True)
test_data.rename(columns={"점포명": "name"}, inplace=True)
test_data.rename(columns={"시도명": "city_name"}, inplace=True)
test_data.rename(columns={"시군구명": "county_name"}, inplace=True)
test_data.rename(columns={"town_": "town_name"}, inplace=True)
test_data.rename(columns={"위도": "y"}, inplace=True)
test_data.rename(columns={"경도": "x"}, inplace=True)

In [58]:
df_final = pd.concat([df, test_data], axis=0)

## 전처리 완료한 데이터 따로 csv로 저장

In [61]:
df_final.to_csv('./data/pharmacies_final_final.csv', index=True, index_label="id", header=True, encoding="utf-8" )

In [409]:
#https://map.kakao.com/
#http://joseph.woobi.co.kr/addtogeo.html

In [27]:
test_data

,name,address,개방자치단체코드,type,county_name,town,town_split
0,판도라,서울특별시 관악구 신림동 530-31 상진,3200000,단란주점,관악구,신림동,신림동
1,왓따7080,서울특별시 은평구 구산동 321-98 지하1층,3110000,단란주점,은평구,구산동,구산동
2,서담주점,서울특별시 구로구 구로동 153-3,3160000,단란주점,구로구,구로동,구로동
3,유토피아,서울특별시 중랑구 묵동 245-1,3060000,단란주점,중랑구,묵동,묵동
4,테크노,서울특별시 서대문구 홍제동 173-2,3120000,단란주점,서대문구,홍제동,홍제동
...,...,...,...,...,...,...,...
3658,국빈관관광나이트크럽,서울특별시 금천구 독산동 293-5,3170000,고고(디스코)클럽,금천구,독산동,독산동
3659,샤넬,서울특별시 영등포구 영등포동3가 17-9 스카이모텔,3180000,기타,영등포구,영등포동3가,영등포동3가
3660,더 레이스,"서울특별시 서초구 잠원동 21-3 ,4호 (지하 1층)",3210000,카바레,서초구,잠원동,잠원동
3661,플레이,"서울특별시 영등포구 여의도동 44-32 에리트빌팅 지하101,102,103호",3180000,룸살롱,영등포구,None,여의도동
3662,원투,서울특별시 금천구 시흥동 124-1 지하1층,3170000,룸살롱,금천구,시흥동,시흥동

In [32]:
df1 = pd.read_csv("./data/before/서울시 단란주점영업 인허가 정보.csv", encoding="cp949")
df2 = pd.read_csv("./data/before/서울시 유흥주점영업 인허가 정보.csv", encoding="cp949")